/* General */
* {margin:0;padding:0}
html{ background:url(../images/bg-green.jpg) repeat-x left top #f3f3f3;}
body{font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px;margin:0 auto;color:#5e5e5e;background:url(../images/bg-body.jpg) no-repeat top center}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(font/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  src: local('Jockey One'), local('JockeyOne-Regular'), url(font/8Hj8G_JpSADPYrRpzMno2hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
.clear{clear:both;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.right{ float:right;}
.left{ float:left;}
p{padding:0;margin:0px;text-align:left;line-height:1.5em;}

a{color:#006bd1; text-decoration:none;}
a img{border:none;}
a:hover{ text-decoration:none;}
a.read_more{margin:5px 0 0 0;}
a.more_bgcolor{background: #afb821;background: -moz-linear-gradient(top, #afb821 0%, #929a17 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afb821), to(#929a17));
border: 1px solid #929a17;border-bottom: 3px solid #666b10;padding:9px 24px 9px 24px; color:#FFFFFF;-moz-box-shadow: inset 0 1px 0 0 #dee753;-webkit-box-shadow: inset 0 1px 0 0 #dee753;box-shadow: inset 0 1px 0 0 #dee753;text-shadow: 0 -1px 0 #929a17;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
a.more_rounded{border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;}
a.centered{ display:block; text-align:center; margin-left:auto; margin-right:auto; font-size:18px;font-weight:bold}
a.inlink{color:#fff;background: #afb821;background: -moz-linear-gradient(top, #afb821 0%, #929a17 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afb821), to(#929a17));border: 1px solid #929a17;border-bottom: 3px solid #666b10;-moz-box-shadow: inset 0 1px 0 0 #dee753;-webkit-box-shadow: inset 0 1px 0 0 #dee753;box-shadow: inset 0 1px 0 0 #dee753;text-shadow: 0 -1px 0 #929a17;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:arial;font-size:12px;font-weight: bold;padding:2px 10px;text-align: center;cursor:pointer; margin:0 0 5px; display:inline-block;}

h1,h2,h3,h4,h5,h6{ padding:0px 0 10px 0; margin:0px; font-weight:normal;line-height:normal}
h1{ font-size:26px;}
h2{ font-size:22px;}
h3{ font-size:18px;}
h4{ font-size:16px;}

h1, h2, h3, h4{font-family: 'Lato', sans-serif;}
.typo {font-family:'Jockey One',sans-serif}
hr {display:inline-block;height:0;width:100%;border-top:solid 1px #ccc;border-bottom:solid 1px #f9f9f9;border-left:none;border-right:none;margin:5px 0}
hr.style1 {margin:10px 0;border-top-color:#ddd;border-bottom-color:#fff}

/* Top */
#wrap{margin:auto;width:940px;padding:20px 15px;background:url(../images/bg.png);box-shadow:0 0 10px rgba(0,0,0,.5);-moz-box-shadow:0 0 10px rgba(0,0,0,.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,.5);border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;border:solid 3px rgba(255,255,255,.5);border-bottom:none}
#page_wrap{margin:auto;width:1000px;padding:0 0 40px 0; background-color:#FFFFFF;}
.center_content{ clear:both; padding:40px 0 0 0;}
#header{width:100%; height:140px;}
.header_content{ width:1000px; margin:auto; line-height:140px;}
.logo{float:left;margin:10px 0 0 20px;}
.logo a {display:block;width:125px;height:125px;background:url(../images/logo.png) no-repeat;color:transparent!important}
.title {float:left;margin:40px 0 0 20px}
.title h1 {color:#ffcc00;text-shadow:0 1px 1px #000;font-family: 'Jockey One', sans-serif; font-size:22px;font-weight:bold;text-transform:capitalize;padding:0;}
.title h2 {font-size:16px;font-family: 'Jockey One', sans-serif;color:#fff;text-shadow:0 1px 1px #333;text-transform:uppercase;padding:0}
.hublogo {float:right;margin:15px 15px 0 0;text-align:center}
.hublogo a{display:block;width:170px;background:url(../images/dephub-logo.png) no-repeat top center;padding-top:80px}
.hublogo a span {color:#fff;text-shadow:0 1px 0 #000;font-size:10px;font-weight:bold;line-height:normal;text-transform:uppercase;}

/* Menu */
.menu{float:right; padding:0 20px 0 0;}
.menu ul {list-style:none; margin:0; padding:0px;}
.menu ul * {margin:0; padding:0;}
.menu ul li {float:left; padding:0 10px 0 10px; height:35px;}
.menu ul li a{font-family: 'Lato', sans-serif;color:#fff;text-shadow:0 1px 1px #333;font-size:12px;font-weight:bold;text-transform:uppercase;padding:5px 10px;}
.menu ul li.selected a, .menu ul li a:hover{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;background-color:#669900;}

/* Slider */
.slider{ width:650px;float:left;padding:10px;background:#fff;background:rgba(255,255,255,.7);border-radius:4px;border:solid 1px #ddd;}
.flex-container a:active, .flexslider a:active {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flexslider {width: 100%; margin: 0; padding: 0 0 0 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}
.flex-direction-nav li a {width:62px; height:62px; margin:0; display: block; position: absolute; top:45%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; right:20px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;left:20px;}
.flex-direction-nav li a.next:hover {background:url(../images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(../images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}
.flex-caption{ position: absolute;left:0px; bottom:0; width:650px;padding:10px;text-align:left;background:rgba(0,0,0,.8);border-top:solid 2px #99cc00;text-align:left;font-family: 'Lato', sans-serif;font-size:14px;color:#FFFFFF;text-shadow:0 1px 1px #000}
.flex-caption h2{ font-size:30px; color:#FFFFFF;} 
.flex-caption a {color:#99cc00;font-weight:bold}
.infos {width:220px;height:170px;float:left;background:#FF9900;background:rgba(255,153,0,.7);border:solid 1px #f3f3f3;padding:15px;border-radius:4px;margin:0 0 0 15px;box-shadow:inset 0 0 10px rgba(0,0,0,.3);overflow:hidden}
.infos h3 {margin:0 0 5px;padding:0 0 5px;font-size:14px;font-weight:bold;color:#fff;text-shadow:0 1px 1px #333;border-bottom:dotted 1px #cc6600}
#infos1 ul li, #infos2 ul li {display:inline-block;}
#infos1 ul li:hover {background:rgba(255,255,255,.3)}
#infos1 ul li div {border-bottom:1px dotted #cc6600;padding:5px 0;}
#infos1 ul li div span, #infos2 ul li div span {font-size:10px;font-weight:bold;color:#333}
#infos1 ul li div h6, #infos2 ul li div h6 {margin:0;padding:0}
#infos1 ul li div h6 a {font-size:11px;line-height:1.4em;color:#996600;}
#infos2 ul li div h6 a {font-size:13px;line-height:1.5em;color:#993300;text-shadow:0 1px 1px #f9f9f9}
#infos2 ul li div h5 {margin:0;padding:3px 0 5px;}
#infos2 ul li div h5 a {font-size:13px;font-weight:bold;color:#663300;text-shadow:0 1px 1px #f9f9f9}
#infos2 ul li div img {float:left;margin:3px 5px 0 0;padding:5px;background:#fff;border:solid 1px #999;border-radius:4px}

/* Section Layouts */
.section_full {margin:0 40px 40px 40px; float:left;}
.section_12{ width:440px; float:left; margin:0 0 20px 20px;}
.section_13{ width:280px; float:left; margin:0 0 20px 20px;}
.section_14{ width:210px; float:left; margin:0 0 20px 20px;}
.section_23{ width:600px; float:left; margin:0 0 20px 20px;}

.page_title{ 
	clear:both; padding:0 0 25px 0;
}
#h1_pagetitle{
	float:left;
}
#logout{
	float:right;
	color:red;
}
#logout a{
	color:red;
}
.page_title h1 {padding:0;font-family:'Jockey One',sans-serif;text-shadow:0 1px 1px #fff}
img.feat_thumb{float:left;}
.feat_details{width:180px;float:left;padding:0 0 0 10px;}
.feat_details h4 {font-size:15px;font-weight:bold;color:#cc6600;text-shadow:0 1px 1px #f9f9f9}
.test_right{width:155px;float:left;padding:0 0 0 10px;}
p.feat_text{text-shadow:0 1px 0 #fff; text-align:justify;}
p.feat_text span.meta {display:inline-block;font-size:11px;font-style:normal;font-weight:bold;color:#663300}
.testimonial{ border-bottom:1px solid #ccc; padding:0 0 10px 0; margin:10px 0 0px 0; clear:both; float:left;}
.apl_box {background:#fff;background:rgba(255,255,255,.8);border:solid 1px #FFCC00;overflow:auto;padding:15px;border-radius:4px;text-align:center;margin:5px 0 15px;box-shadow:0 0 10px rgba(255,204,0,.6) inset}
.apl_box img.ic {display:block;margin:auto}
.apl_box p {color:#929A17;text-shadow:0 1px 0 #fff;}

.list ul{padding:5px 0 20px 0; margin:0px; list-style-type:none;}
.list ul li{padding:5px 0; margin:0px;border-bottom:1px solid #ccc; line-height:19px;}
.list ul li a{color:#666;text-shadow:0 1px 0 #fff}
.list ul li a:hover{color:#be6207;}

.screenshots ul{ padding:20px 0 0 0; margin:0px; list-style:none;}
.screenshots ul li{ padding:0px; margin:0px;border:none;}
.screenshots ul li a{padding:0 12px 12px 0; float:left; display:block; border:none;}
.screenshots ul li a img{border:2px #fff solid;}
/*-------------------------------------------------footer----------------------------------------------------------*/
#footer{width:100%;clear:both;margin:0 0 0 0;background:url(../images/footer_bg.gif) repeat-x center top;}
.footer_content{width:1000px;margin:auto;color:#dfdfdf;}
.footer_content a{color:#dfdfdf; text-decoration:none;}
.footer_left{width:270px; float:left; padding:50px 50px 40px 10px;}
.footer_right{width:330px; float:right; padding:50px 0 40px 0;}
img.footer_icon{float:right;}
.tweets{clear:both; padding:20px 0 0 0; float:left;width:270px;}
.tweets a{color:#dfdfdf; text-decoration:none; padding:0 0 10px 0; display:block; font-style:italic;}
.tweets a:hover{text-decoration:underline;}
.info{clear:both; padding:20px 0 0 0;float:left;width:270px;}
.info span{color:#30c3ff;}
.social{border-top:1px #989999 dotted;padding:10px 0 0 0;margin:10px 0 0 0;}
.social a{padding:0 7px 0 0;}
.footer_right ul{float:left; width:165px; list-style:none; margin:0px; padding:20px 0 0 0;}
.footer_right ul li{padding:0px; margin:0px;}
.footer_right ul li a{background:url(../images/footer_bullet.gif) no-repeat left; padding:0 0 0 10px; line-height:25px;color:#dfdfdf; text-decoration:none;}
.footer_bottom{clear:both; /*background:url(../images/footer_border.gif) no-repeat center top;*/ padding:15px 0;float:left;width:1000px;}
.footer_bottom_left{float:left;}
.copyrights{float:left; padding:30px 0 0 5px;text-shadow:0 1px 0 #333}
.copyrights a {font-weight:bold}
.footer_right_links{width:500px; float:right; padding:30px 0 0 0; text-align:right;}
.footer_right_links ul{ list-style:none; padding:0px; margin:0px; }
.footer_right_links ul li{padding:0px; margin:0px;display:inline;}
.footer_right_links ul li a{padding:0px; margin:0px; padding:0 12px 0 12px;color:#dfdfdf;text-shadow:0 1px 0 #333;text-decoration:none;}
.file_box {background:#fff;background:rgba(255,255,255,.5);border:solid 1px #ddd;height:210px;overflow:auto;padding:10px;border-radius:4px;box-shadow:0 0 10px rgba(255,255,255,.9) inset}
.file_box h3 {font-size:12px;font-weight:bold;color:#993300;padding:0}
/* jtree */
ul.jtree span {color:black;cursor:pointer;display:inline-block;min-height:20px;padding-left:20px;margin-left:10px;background-position:0 0;background-repeat:no-repeat;}
ul.jtree ul li {background-repeat : no-repeat;background-position : 0 8px, 0 0;background-size : 8px 1px, 1px 100%;background-image : url(../images/icons/dot.png), url(../images/icons/dot.png);padding:0;margin:0;line-height:20px;}
ul.jtree ul li:last-child { background-size : 8px 1px, 1px 8px; }
ul.jtree span[data-state=open] { background-image:url(../images/icons/folder_open.png); }
ul.jtree span:not([data-state=open]) { background-image:url(../images/icons/folder.png); }
ul.jtree span:hover {color:blue;background-color:rgba(0,0,255,0.1);}
ul.jtree {list-style:none;font:1.2em;/*background-color:#ffffff;border-radius:10px;*/}
ul.jtree span:not([data-style="unclosable"]) + ul { display:none; }
ul.jtree span + ul { list-style:none; font-size:95%; margin-left:18px; }
/* simple calendar */
TABLE.simpleCalendar {border: solid 2px #ccc;background-color: white;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size: 12px;margin:0;padding:0}
TABLE.simpleCalendar DIV.controller {position: relative;}
TABLE.simpleCalendar DIV.current {font-size: 15px;}
TABLE.simpleCalendar DIV.prev {cursor: pointer;position: absolute;left: 3px;bottom: 0px;}
TABLE.simpleCalendar DIV.next {cursor: pointer;position: absolute;right: 3px;bottom: 0px;}
TABLE.simpleCalendar TR TH {border: solid 1px darkgray;width: 25px;height: 20px;font-size: 8px;}
TABLE.simpleCalendar TR TD {border: solid 1px darkgray;text-align: center;width: 25px;height: 20px;}
TABLE.simpleCalendar TR TD.saturday {background-color: aliceblue;}
TABLE.simpleCalendar TR TD.sunday, TABLE.simpleCalendar TR TD.holiday {background-color: pink;}
TABLE.simpleCalendar TR TD.today {background-color: darkred;font-weight: bold;color: white;}
TABLE.simpleCalendar TR TD.active:hover {background-color: lightblue;cursor: pointer;}
TABLE.simpleCalendar TR TD.inactive {background-color: lightgray;}
TABLE.simpleCalendar TR TD.selected {background-color: blue;}

.splash {width:940px;margin:-20px 0 0 0;}
/*dua kolom*/
#usefulinkcontent{
	float:left;
	width:48%;
	margin-right:1%;
}

/* table */
table {background:#FFFFFF;background:rgba(255,255,255,.7);border-collapse:collapse;font-size:12px;text-align:left;max-width:100%;width:100%;border-spacing:0;margin:0;border:0 none;text-shadow:0 1px 0 #fff;border:dotted 1px #ddd;}
table tbody tr:nth-child(2n) {background:#f9f9f9;background:rgba(249,249,249,.8);}
table thead {/*background:#c6dba0;*/
background: #f2f6f8;
background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
border-top:solid 1px #b5c6d0}
table tfoot {background:#f3f3f3;border-top:solid 1px #a8dbeb}
table th {border-bottom:2px solid #b5c6d0;color:#000;font-size:13px;font-weight:bold;text-transform:uppercase;padding:10px 8px;}
table td {border-bottom:1px dotted #999;color:#333;padding:6px 8px;font-size:12px;display:table-cell;}
table tbody tr:hover td {color:#000;background:#DDEEBD;}


.greenbutton {
background: #339933;
background: -moz-linear-gradient(top, #66CC66 0%, #339933 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66CC66), color-stop(100%,#339933));
background: -webkit-linear-gradient(top, #66CC66 0%,#339933 100%);
background: -o-linear-gradient(top, #66CC66 0%,#339933 100%);
background: -ms-linear-gradient(top, #66CC66 0%,#339933 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66CC66', endColorstr='#339933',GradientType=0 );
background: linear-gradient(top, #66CC66 0%,#339933 100%);
border: 1px solid #336633;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;line-height: 20px;font-size: 14px;letter-spacing:1px;padding: 5px 10px;color: #fff;text-shadow: -1px -1px #336633;cursor: pointer;}

.greenbutton:hover{
background: #ff9b19;
background: -moz-linear-gradient(top, #ff9b19 0%, #ffc339 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9b19), color-stop(100%,#ffc339));
background: -webkit-linear-gradient(top, #ff9b19 0%,#ffc339 100%);
background: -o-linear-gradient(top, #ff9b19 0%,#ffc339 100%);
background: -ms-linear-gradient(top, #ff9b19 0%,#ffc339 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b19', endColorstr='#ffc339',GradientType=0 );
background: linear-gradient(top, #ff9b19 0%,#ffc339 100%);
border-color:#FF9900;text-shadow: -1px -1px #FF6600;}

/* form */
input[type="text"], input[type="password"], textarea { background-color: white; font-family: inherit; border: 1px solid #cccccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); font-size: 12px; margin: 0 0 5px 0; padding: 2px; height: 18px; width: auto; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; display:inline-block }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { background: #fafafa; outline: none !important; border-color: #888; }
input[type="text"][disabled], input[type="password"][disabled], textarea[disabled] { background-color: #ddd; }
textarea { height: auto; }
select { background-color: white; font-family: inherit; border: 1px solid #cccccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); font-size: 12px; margin: 0 0 2px 0; padding: 2px; height: 22px; width: auto; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; display:inline-block}
input[type="button"] {margin:0;padding:2px;background:#ececec;border:solid 1px #ccc;border-radius:2px;color:#003366;text-shadow:0 1px 1px #f3f3f3}
form.sform fieldset {margin-bottom: 10px;padding:20px;border:dotted 1px #ddd;background:rgba(255,255,255,.5);border-radius:6px;}
form.sform legend { padding: 0 2px;font-weight: bold;}
form.sform fieldset ol {margin: 0;padding: 0;list-style-type:none}
form.sform fieldset li {list-style: none;padding: 5px;margin: 0;}
form.sform .cell {width:50%;float:left}
form.sform fieldset fieldset {border: none;margin: 3px 0 0;}
form.sform fieldset fieldset legend {padding: 0 0 5px;font-weight: normal;}
form.sform fieldset fieldset label {display: block;width: auto;}
form.sform em {font-weight: bold;font-style: normal;color: #cc0000;}
form.sform small {color:#3366CC;font-size:11px;font-weight:bold;padding-left:20px;position:relative}
form.sform small.notice {color:#990000;}
form.sform small img {position:absolute;left:0;top:0px}
form.sform label {display: inline-block;line-height: 1.8;vertical-align: top;width: 125px;text-transform:uppercase;font-size:11px;;font-weight:bold;color:#666;text-shadow:1px 1px 1px #fff}
form.sform label.nowide {width:100px}
form.sform fieldset fieldset label {margin-left: 173px;}
form.sform p {font-size:12px;font-weight:bold;color:#003366;text-shadow:1px 1px 1px #fff;margin:10px 0}
form.sform span {font-size:11px;font-weight:bold}
form.sform div {display:inline-block;width:auto}