<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Sistem Informasi Manajemen SDM Perhubungan - BPSDM Perhubungan - Kementerian Perhubungan RI</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link rel="shortcut icon" href="favicon.ico" />
	<link type="text/css" href="css/style.css" rel="stylesheet"  />
	<script type="text/javascript" src="js/jquery-min.js" ></script>
	<script type="text/javascript" src="js/custom.js" ></script>
</head>

<body>
<div id="container">

<div id="header"> 
    <div class="header-img"> 
      <div id="title">
        <h3>BPSDM Perhubungan - Kementerian Perhubungan RI</h3>
        <h2>Sistem Informasi Manajemen SDM Bidang Transportasi</h2>
        <h1>Aplikasi Basis Data Diklat</h1>
      </div><!-- end title -->
      
      <div class="hublogo"><a href="http://www.dephub.go.id" title="Kementerian Perhubungan RI" target="_blank"></a></div>
      <div class="clear"></div>
      
      <div class="usr"><span>welcome user</span><a href="#">Lukito Wibowo</a></div>
    </div><!-- end image headers -->
    
</div><!-- end header -->

<div id="top"> 
    
<div class="menu-title">Basis Data Diklat</div><!-- end page title -->
<div class="submenu">
    <ul>
        <li><a href="#">Submenu 1</a>
		</li>
        <li><a href="#">Submenu 2</a></li>
        <li class="current"><a href="#">Submenu 3 Active</a></li>
        <li><a href="#">Submenu 4</a></li>
        <li><a href="#">Submenu 5</a></li>
    </ul>
</div><!-- end submenu -->
<ul class="homout">
  <li><a href="#"><img src="images/icon_home_16x16.png" />HOME</a></li>
  <li><a href="#"><img src="images/icon_logout_16x16.png" />LOGOUT</a></li>
</ul>

</div><!-- end topmenu -->

  <div id="content">
    <div id="contentwrap">
    	<div class="wrap_left bgtrans">
        <h2 class="heading">Menu Title</h2>
        <hr/>
        <ul id="vmenu">
		<li>
			<a href="#">Submenu Child 1</a>
			<ul>
				<li><a href="#">Item title 1</a></li>
				<li><a href="#">Item title 1</a></li>
                <li><a href="#">Item title 1</a></li>
                <li><a href="#">Item title 1</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Submenu Child 2</a>
			<ul>
				<li><a href="#">Item title 2</a></li>
                <li><a href="#">Item title 2</a></li>
                <li><a href="#">Item title 2</a></li>
                <li><a href="#">Item title 2</a></li>
			</ul>
		</li>
		<li><a href="#">Submenu Child 3</a></li>
		<li>
			<a href="#">Submenu Child 4</a>
			<ul>
				<li><a href="#">Item title 4</a></li>
                <li><a href="#">Item title 4</a></li>
                <li><a href="#">Item title 4</a></li>
                <li><a href="#">Item title 4</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Submenu Child 5</a>
			<ul>
				<li><a href="#">Item title 5</a></li>
                <li><a href="#">Item title 5</a></li>
                <li><a href="#">Item title 5</a></li>
                <li><a href="#">Item title 5</a></li>
			</ul>
		</li>
	</ul><!-- end vmenu -->
    </div><!-- end wrap left-->
    
    <div class="wrap_right bgcontent">
    	<h1 class="heading">main title heading</h1>
        <hr/>
        <p class="text">Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru</p>
        <p class="text">Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru. Excepteur sint occaecat non proident,sunt in culpa qui officia deserunt mollit anim id est laboru</p>
        <hr/>
        <h1 class="heading">table style</h1>
        <hr/>
        <table width="100%">
          <thead>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
          </thead>
          <tr>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td><a href="#">lorem ipsum link...</a></td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
          </tr>
          <tr>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td><a href="#">lorem ipsum link...</a></td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
          </tr>
          <tr>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td><a href="#">lorem ipsum link...</a></td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
          </tr>
          <tr>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td><a href="#">lorem ipsum link...</a></td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
            <td>lorem ipsum text</td>
          </tr>
        </table>
        <div class="clear">&nbsp;</div>
        <h1 class="heading">form input style</h1>
        <hr/>
        <form action="#" class="sform">
            <fieldset>
                <ol>
                    <li><label for="">Nama Lengkap <em>*</em></label> <input id="" type="text" class="five"/></li>
                    <li><label for="">Tempat / Tanggal Lahir <em>*</em></label> <input id="" type="text"/> <input id="" type="text" class="one"/> <input id="" type="text" class="one"/> <input id="" type="text" class="one"/></li>
                    <li><label for="">no.ktp / sim / passport</label> <input id="" type="text" class="five"/> <small><img src="images/check.png">*Format : 12345456445646</small></li>
                    <li><label for="">jenis kelamin <em>*</em></label> <select id=""><option value="1">Pria</option><option value="2">Wanita</option></select></li>
                    <li><label for="">alamat sesuai identitas <em>*</em></label> <input id="" type="text" class="eight"/></li>
                    <li><label for="">&nbsp;</label> <input id="" type="text" class="eight"/></li>
                    <li><label for="">provinsi <em>*</em></label> <select id=""><option value="1">Pilih Provinsi</option></select></li>
                    <li><label for="">kota <em>*</em></label> <select id=""><option value="1">Pilih Kota</option></select></li>
                    <li><label for="">negara</label> <select id=""><option value="1">Pilih Negara</option></select></li>
                    <li><label for="">no. telp rumah <em>*</em></label> <input id="" type="text" class="three"/> <small>*Format : 021234567</small></li>
                    <li><label for="">no. handphone <em>*</em></label> <input id="" type="text" class="three"/> <small>*Format : 08123456789</small></li>
                    <li><label for="">email</label> <input id="" type="text" class="three"/> <small>*Format : xxx@xxx.xxx</small></li>
                    <li><label for="">npwp</label> <input id="" type="text" class="three"/> <small>*Format : 12345456445646</small></li>
                    <li><label for="">nama ibu kandung <em>*</em></label> <input id="" type="text" class="three"/></li>
                    <li><label for="">hak bisnis <em>*</em></label> <select id=""><option value="1">Pilih</option></select> <small class="notice">*Lihat Keterangan di bawah</small></li>
                    <li>
                        <div class="cell">
                            <label for="">username 1</label> <input id="" type="text" class="six"/>
                            <label for="">username 2</label> <input id="" type="text" class="six"/>
                            <label for="">username 3</label> <input id="" type="text" class="six"/>
                            <label for="">username 4</label> <input id="" type="text" class="six"/>
                            <label for="">username 5</label> <input id="" type="text" class="six"/>
                        </div>
                        <div class="cell">
                            <label for="">email 1</label> <input id="" type="text" class="six"/>
                            <label for="">email 2</label> <input id="" type="text" class="six"/>
                            <label for="">email 3</label> <input id="" type="text" class="six"/>
                            <label for="">email 4</label> <input id="" type="text" class="six"/>
                            <label for="">email 5</label> <input id="" type="text" class="six"/>
                        </div>
                    </li>
                    <div class="clearfix">&nbsp;</div>
                    <hr/>
                    <li><input class="greenbutton" type="submit" value="SUBMIT" style="float:right"/></li>
                </ol>
            </fieldset>
        </form>
    </div><!-- end wrap right content-->
    <div class="clearfix"></div>
    </div><!-- end content wrap -->
  </div><!-- end content -->
  
  <div id="footer">
    Copyright &copy; 2013 BPSDM Perhubungan - <a href="http://www.dephub.go.id/">Kementerian Perhubungan RI</a>
  </div><!-- end footer -->

</div><!-- end container -->
</body>
</html>
