h1{font-size:14px;
font-weight:bold;
}
.loading{
   
	  /*top: 50%;
	  left: 50%;
	  margin-top: 15%;
	  margin-left: 50%;
	  height:50px;
	  width:50px;
	  z-index:1000;*/
    background: url('../images/loading.gif') center center no-repeat!important;
    min-height:50px;
	min-width:50px;
}