<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Sistem Informasi Management Sumber Daya Manusia Bid. Transportasi - BPSDM Perhubungan - Kementerian Perhubungan Republik Indonesia</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="css/login_style.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="favicon.ico" />
</head>

<body>

<div id="outer"><!-- begin outer -->
  <div id="container">
    <div id="inner">
      <div class="bgform">
      	<p>Username<br>
        <input name="textfield" type="text" class="input">
        <br/>
        <br/>
        Password<br>
        <input name="textfield2" type="password" class="input">
        <br/>
        <br/>
        <input name="Submit" type="submit" value="Submit" class="btn">
        <input name="Submit2" type="reset" value="Reset" class="btn">
        </p>
        <a href="#" class="link">Forget Password</a>
      </div><!-- end bgform -->
      
	  
      <div class="bgform1">
      <p><span class="text">&copy; 2013 BPSDM Perhubungan.<br/>Kementerian Perhubungan RI</span></p>	  
	  </div><!-- end bgform1 -->
    </div><!-- end inner -->
  </div><!-- end container -->
</div><!-- end outer -->

</body>
</html>