<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>BPSDM Kementerian Perhubungan</title>
<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
<link rel="shortcut icon" href="favicon.ico" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/jquery.vticker.js"></script>
<script type="text/javascript" src="js/jtree.js"></script>
<script type="text/javascript" src="js/jquery.simpleCalendar.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/custom.js"></script>
</head>
<body>

<div id="header">
    <div class="header_content">
  
    <div class="logo"><a href="index.html">home</a></div>
    <div class="title"><h1>badan pengembangan sumber daya manusia perhubungan</h1><h2>kementerian perhubungan republik indonesia</h2></div>
    
    <div class="hublogo"><a href="http://www.dephub.go.id" title="Kementerian Perhubungan RI" target="_blank"><span>kementerian perhubungan republik indonesia</span></a></div>
    
    <div class="clear"></div> 
    </div><!--end header content--> 
</div><!-- End of Header-->

<div id="wrap">	

	<div class="splash"><img src="images/splash.png" /></div>   
	<div class="clear"></div>
   
  <div class="center_content">
  
    <div class="page_title"><h1>BPSDM Aplikasi</h1><hr/></div>
    
    <div class="section_13">
      <img src="images/icon1.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>Basis Data SDM</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
    <div class="section_13">
      <img src="images/icon2.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>Basis Data Diklat</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
     <div class="section_13">
      <img src="images/icon3.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>Manajemen Kompetensi</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
    <div class="section_13">
      <img src="images/icon4.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>GIS SDM Transportasi</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
    <div class="section_13">
      <img src="images/icon5.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>Dashboard Monitoring</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
     <div class="section_13">
      <img src="images/icon6.png" alt="" title="" border="0" class="feat_thumb" />
      <div class="feat_details">
      <h4>Basis Data Peraturan Transportasi</h4>
      <a href="#" class="inlink clear">ENTER</a>
      <p>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    
    <hr/>
	<div class="clear"></div>     
  </div><!--end center content 1-->
  
  <div class="center_content">
    
    <div class="section_23">
    <h2>File Sharing</h2>
    <div class="file_box">
    <h3>File Explorer</h3>
    <hr/>
    	<ul class="jtree">
        	<li><span data-state="open" data-style="unclosable">root</span>
            	<ul>
                	<li><span>pictures</span>
                    	<ul>
                        	<li><span>pictures subfolder 1</span></li>
                            <li><span>pictures subfolder 2</span></li>
                            <li><span>pictures subfolder 3</span></li>
                            <li><span>pictures subfolder 4</span></li>
                            <li><span>pictures subfolder 5</span></li>
                            <li><span>pictures subfolder 6</span></li>
                        </ul>
                    </li>
                    <li><span>admin</span>
                    	<ul>
                        	<li><span>admin subfolder</span></li>
                        </ul>
                    </li>
                    <li><span>img</span>
                    	<ul>
                        	<li><span>img subfolder</span></li>
                        </ul>
                    </li>
                    <li><span>js</span>
                    	<ul>
                        	<li><span>js subfolder</span></li>
                        </ul>
                    </li>
                    <li><span>plugin</span>
                    	<ul>
                        	<li><span>plugin subfolder</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!--end file box-->
    </div>
    
    <div class="section_14">
    	<h2>Calendar</h2>
        <hr/>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        <hr/>
        <div id="calendar_box"></div>
    </div>
    
	<div class="clear"></div> 
  </div>
  
</div><!--end center content 2-->

<div id="footer">
	<div class="footer_content">
        
        <div class="footer_bottom">
            <div class="copyrights">
            &copy; BPSDM Perhubungan - <a href="#" target="_blank">Kementerian Perhubungan RI.</a> 2013
            </div>
            <div class="footer_right_links">
            <ul>
                <li class="selected"><a href="index.html">HOME</a></li>
                <li><a href="#">KONTAK</a></li>
                <li><a href="#">WEB MAIL</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
            </div>
        </div>

     <div class="clear"></div>   
	</div><!--end footer content-->
</div><!--end all footer-->
 
</body>
</html>
